[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
requests = "*"
selenium = "*"
chromedriver = "*"
pandas = "*"
plotly = "*"
webdriver-manager = "*"
statsmodels = "*"
ipykernel = "*"
nbformat = "*"
nbconvert = "*"
kaleido = "*"

[dev-packages]
notebook = "*"

[requires]
python_version = "3.11"
